@import '../../scss/variables';

.form {
  padding: 15px 15px 20px;
  background-color: #fff;
  border-radius: 4px;

  h2 {
    color: $blue;
  }

  &__input {
    &-group {
      display: flex;
      margin-top: 5px;

      .select + .select {
        margin-left: 8px;
      }
    }
    @media (min-width: 768px) {
      display: flex;
      align-items: flex-end;

      &-group {
        flex: 1;
        margin-top: 0;
        margin-right: 15px;

        &--unset {
          flex: unset;
        }
      }

      [data-name='From'],
      [data-name='To'] {
        flex: unset;
        width: 100px;
      }
    }
  }

  button {
    width: 100%;
    margin-top: 20px;
    padding: 12px 20px;
    color: #fff;
    line-height: 1.25;
    background-color: $font-color;
    border: none;
    border-radius: 3px;

    @media (min-width: 768px) {
      width: auto;
      margin-top: 0;
      padding: 8px 20px;
    }
  }
}
