$namespace: 'app';

// Colors
// Palette from Material
// URL: https://material.io/tools/color/#!/
$background: #f5f5f5;
$font-color: #555555;
$blue: #5882e3;
$black: #343a40;
$gray: #ced4da;
$living-room: #17a2b8;
$backyard: #28a745;
$kitchen: #ffc107;

// Transition
$transition: 0.5s;
$transition-faster: 0.25s;
$transition-fastest: 0.15s;
$transition-slower: 0.7s;
$transition-slowest: 0.85s;
