.app-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  padding: 15px;
  color: $font-color;
  background-color: $background;
}

.app-title {
  display: block;
  margin: 0;
  padding: 5px 0 15px;
  text-align: center;
}

.app-body {
  max-width: 1000px;
  margin: 0 auto;
}
