@import '../../scss/variables';

.timeline-container {
  display: flex;
}

.timeline {
  $hour-label-height: 25px;
  $block-width: 30px;
  $block-height: 40px;
  margin: 15px 0 30px;
  padding: 15px 0;

  border: solid 1px $gray;
  border-width: 1px 0;

  h2 {
    color: $font-color;
  }

  &__peoples {
    margin-top: $hour-label-height;
  }

  &__label--hour,
  &__label--people {
    text-align: center;
  }

  &__label--hour {
    width: $block-width * 2;
    height: $hour-label-height;
    font-size: 0.75rem;
    border-right: solid 1px $gray;
  }

  &__label--people {
    height: $block-height;
    padding-right: 20px;
    line-height: $block-height;
    border-right: solid 1px $gray;
  }

  &__hour-block {
    &[data-hour$=':30'] {
      margin-right: -#{$block-width};
      margin-left: calc(-#{$block-width} - 1px);
      .timeline__label--hour {
        visibility: hidden;
      }
    }
  }

  &__people-time-block {
    width: $block-width;
    height: $block-height;
    font-weight: 500;
    font-size: 1.5rem;
    line-height: $block-height;
    text-align: center;
    border: solid 1px $gray;
    cursor: pointer;

    &[data-area='Living Room'] {
      background-color: $living-room;
    }
    &[data-area='Kitchen'] {
      background-color: $kitchen;
    }
    &[data-area='Backyard'] {
      background-color: $backyard;
    }

    & + .timeline__people-time-block {
      border-top: none;
    }
  }

  &__time-table {
    position: relative;
    display: flex;
    padding-bottom: 20px;
    overflow-x: scroll;
  }

  &__area-legends {
    margin: 15px 0;

    @media (min-width: 480px) {
      display: flex;
      justify-content: flex-end;
    }
  }

  &__area-legend {
    position: relative;
    display: block;
    font-size: 0.85rem;

    & + & {
      margin: 15px 0 0;
    }

    &::before {
      display: inline-block;
      width: 25px;
      height: 10px;
      margin-right: 10px;
      content: '';
    }

    @media (min-width: 480px) {
      display: inline-block;

      & + & {
        margin: 0 0 0 20px;
      }
    }

    &[data-area='Living Room']::before {
      background-color: $living-room;
    }
    &[data-area='Kitchen']::before {
      background-color: $kitchen;
    }
    &[data-area='Backyard']::before {
      background-color: $backyard;
    }
  }
}
